
@{
    ViewBag.Title = "YeniSosyal";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sosyal Medya Ekle</h2>
<br />
<form method="post">

    <input type="text" name="Ad" class="form-control" placeholder="Ad" />
    <br />
    <input type="text" name="Link" class="form-control" placeholder="Link" />
    <br />
    <input type="text" name="icon" class="form-control" placeholder="icon" />
    <br 
    <input type="text" name="Durum" class="form-control" placeholder="icon" />
    <br />
    <button class="btn btn-info"> Kaydet </button>
</form>

